Step 1. 이것만큼은 꼭 해보세요!
프로젝트에 정답은 없습니다. 배우신 내용을 토대로 자유롭게 데이터를 정제/변환하시되, 아래 내용만큼은 반드시 실습해봅시다.

사기거래 여부를 예측하는 데 불필요한 컬럼을 제거합니다.
최소 2개 이상의 새로운 피처(변수)를 생성해봅시다.
[힌트] 구매 금액, 시간 등의 변수를 이용할 수 있습니다.

Step 2. 이런것도 해볼 수 있어요!
자유롭게 실습을 해보시고, 여유가 되면 아래의 내용도 실습해보세요.
강의의 범위를 벗어나는 개념이 필요할 수 있으니, 인터넷 검색도 적극 활용해보세요.

데이터의 위도/경도 정보를 활용해볼 수 있을까요?
통계적 관점으로 접근하여 유용한 변수를 만들어낼 수 있을까요?

trans_date_trans_time : 거래 시간
cc_num : 카드 번호
merchant : 가게 이름
category : 가게 업종
amt : 거래 금액
first : 이름
last : 이름
gender : 성별
street : 주소
city : 주소
state : 주소
zip : 주소
lat : 거주지의 위도
long : 거주지의 경도
city_pop : 도시 인구 수
job : 직업
dob : 생년월일
trans_num : 거래 번호
unix_time : ???
merch_lat : 가맹정 위도
merch_long : 가맹정 경도
is_fraud : 사기 거래 여부

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [3]:
cc_df = pd.read_csv('fraud.csv')

In [4]:
pd.set_option('display.max_columns', 50)

In [5]:
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [6]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [7]:
cc_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [8]:
cc_df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [9]:
cc_df.isna().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [11]:
(cc_df == '').sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [12]:
cc_df.groupby('gender').mean()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
gender,,,,,,,,,,
F,3.662001e+17,72.573502,51556.664472,38.330205,-90.861844,108557.730880,1.358724e+09,38.328583,-90.861410,0.002406
M,3.817858e+17,60.096286,48772.765266,36.917329,-89.564944,154008.048677,1.358746e+09,36.918058,-89.565313,0.002855

In [15]:
cc_df['is_fraud'].isna() # 사기 거래 여부 결측치 X

0         False
1         False
2         False
3         False
4         False
          ...
491129    False
491130    False
491131    False
491132    False
491133    False
Name: is_fraud, Length: 491134, dtype: bool

In [16]:
# lat : 거주지의 위도, long : 거주지의 경도 / merch_lat : 가맹정 위도, merch_long : 가맹정 경도 
# 위도 경도..... 그 영화에서만 듣던거 같은데 뭐 어쩌라는 거지.....

In [17]:
cc_df['cc_num'].nunique() # 카드번호 같은데.. 이걸 알 필요가 있을까?

124

In [18]:
cc_df['cc_num'].unique()

array([       630423337322, 4956828990005111019,     180048185037117,
           374930071163758,    2712209726293386,    3598215285024754,
           213141712584544,        676372984911,    4642255475285942,
          3553629419254918,    2720433095629877,    4716561796955522,
       4512828414983801773,      30273037698427,    6011893664860915,
          6534628260579800,        571365235126,     213112402583773,
          3502088871723054,    3518234918950662,      30270432095985,
          6011104316292105,    6011504998544485,    3511378610369890,
          6011367958204270,    4653879239169997,    3583635130604947,
          3541160328600277, 4646845581490336108,    3575789281659026,
          4302480582202074,    3533742182628021,    4364010865167176,
             4745996322265,    3576431665303017,    3566094707272327,
          2264937662466770,     377026671291680,       4681699462969,
           340953839692349,     373905417449658,        581686439828,
       4587657402165341815,    3596217206093829,    4099707841315751,
          4452366298769043,    2242542703101233,    6011438889172900,
       4797297220948468262,        503874407318,    3543591270174051,
          4586810168620942,    3531129874770000,      36913587729122,
           213156747557083,    4939976756738216,    2254917871818484,
             4464457352619,    4836998673805450,     180036456789979,
           213157767990030,     342952484382519,    3595192916105588,
          3527536963490470,      30238755902988,        639023984367,
          3590736522064285,    3567697931646329,    3551217896304745,
          6011109736646996,     344709867813900,      30234966027947,
            30044330818990, 4536996888716062123,     371226440126102,
              630424987505,    4681601008538160,      30131826429364,
           370877495212014,     372509258176510,    3556613125071656,
          6538891242532018,    6011652924285713,    6011348830550197,
             4561546772499, 4861310130652566408,    3560797065840735,
           345933964507467,    4904681492230012,     180094419304907,
            30551643947183,    3525590521269779,    3576021480694169,
          3545109339866548,      36722699017270,    3589255887819806,
       4181833256558613886,    4003989662068504,    2283743876903625,
             4755696071492, 4792627764422477317,     376445266762684,
          4908846471916297,        630451534402,    6538441737335434,
          3586008444788268,     346273234529002,      38052002992326,
          6011724471098086,    4170689372027579,    3518669219150142,
       4906628655840914250,    6011693194885790,        567868110212,
             4900628639996,      30235438713303,      30199621383748,
          3589289942931264,    3500969075198072,    3521417320836166,
          4005676619255478,     180031190491743,     372520049757633,
          5540636818935089])

In [19]:
cc_df['merchant'].nunique() # 가게이름인거 같은데 너무 많은데?

693

In [20]:
cc_df['category'].nunique() # 업종 같은데 이 정도면 적당한 듯

14

In [22]:
cc_df['city_pop'].nunique() #

122

In [30]:
cc_df['city'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
491129    False
491130    False
491131    False
491132    False
491133    False
Name: city, Length: 491134, dtype: bool

In [31]:
cc_df['first'].nunique() #

92

In [34]:
cc_df['job'].nunique() # 직업은 필요할거 같은데.....

110

In [36]:
cc_df['dob'].nunique() # 몇 살 인지는 필요할 거 같지?

123

In [37]:
cc_df['unix_time'].nunique() # 이건 도대체 뭐냐......

488477

In [38]:
cc_df.drop(columns=['trans_num', 'cc_num'], inplace = True) # 카드 번호와 거래 ID는 과감하게 없애버린다

In [40]:
cc_df_new = cc_df.drop(['first', 'last', 'street', 'city', 'state', 'zip', 'job', 'dob'], axis=1)
# 이것보다 더 지운다는데 나는 쫄려서 못 하겠다. 이것만 지운다.

In [41]:
cc_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   merchant               491134 non-null  object
 2   category               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   gender                 491134 non-null  object
 5   lat                    491134 non-null  float64
 6   long                   491134 non-null  float64
 7   city_pop               491134 non-null  int64
 8   unix_time              491134 non-null  int64
 9   merch_lat              491134 non-null  float64
 10  merch_long             491134 non-null  float64
 11  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(3), object(4)
memory usage: 45.0+ MB

In [42]:
cc_df_new.describe()

,amt,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,69.050120,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,160.322867,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,1.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,8.960000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,42.170000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,80.330000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,25086.940000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

사기 거래 여부를 예측하는 데 불필요한 컬럼을 제거했는데.. 잘 하고 있는지 모르겠다.. 
모델 학습에 필요 없을 것으료 예측 되는 녀석들은 new라는 변수로 다시 생성 했다.

In [ ]:
최소 2개 이상의 새로운 피처(변수)를 생성해봅시다. [힌트] 구매 금액, 시간 등의 변수를 이용할 수 있습니다.
날짜가 젤 쉽다고 한다. 그래 일단 2개 뭐라도 해 보자

In [44]:
cc_df['trans_date_trans_time'] = pd.to_datetime(cc_df['trans_date_trans_time'])
# datetime 형식으로 변환했따

In [45]:
cc_df['hour'] = cc_df['trans_date_trans_time'].dt.hour # 시간 추출 0 ~ 23 
cc_df['day_of_week'] = cc_df['trans_date_trans_time'].dt.dayofweek # 요일 추출 0:월요일 / 6: 일요일

In [52]:
cc_df[['hour', 'day_of_week']].head()

   hour  day_of_week
0     0            1
1     0            1
2     0            1
3     0            1
4     0            1

In [50]:
cc_df[['hour', 'day_of_week']].tail() # 왜 3 목요일이 마지막에 나올까?

        hour  day_of_week
491129    23            3
491130    23            3
491131    23            3
491132    23            3
491133    23            3

In [53]:
cc_df['day_of_week'].value_counts()

0    98667
6    93502
1    70992
5    69844
4    56346
3    53834
2    47949
Name: day_of_week, dtype: int64

In [56]:
cc_df['day_of_week'].isin([4, 5, 6]).mean() # 어딘가에 있긴 한가 보네 더 건들지말자 무섭다

0.447315803833577

In [57]:
cc_df['log_amt'] = np.log1p(cc_df['amt']) # 거래 금액을 바꿀 수가 있다고 한다

In [59]:
cc_df[['amt', 'log_amt']].head() # 시실 뭐 한건지 모르겠다.

      amt   log_amt
0  107.23  4.684259
1   44.71  3.822317
2   46.28  3.856087
3   64.09  4.175771
4   25.58  3.280159

거래한 위치와 가맹정의 위치 사이의 거리를 계산? 멀리 떨어져 있으면 사기 확률이 높아진다?
우리나라에서 사기 안치고 중국, 동남아에서 사기 치듯이?

In [63]:
cc_df['lat_diff'] = abs(cc_df['lat'] - cc_df['merch_lat']) # lat_diff 위도 차이
cc_df['long_diff'] = abs(cc_df['long'] - cc_df['merch_long']) # long_diff 경도 차이
# abs는 절댓값을 구하는 함수.

In [62]:
cc_df[['lat', 'long', 'merch_lat', 'merch_long', 'lat_diff', 'long_diff']].head()

       lat      long  merch_lat  merch_long  lat_diff  long_diff
0  48.8878 -118.2105  49.159047 -118.186462  0.271247   0.024038
1  40.6747  -74.2239  40.079588  -74.848087  0.595112   0.624187
2  40.6152  -74.4150  40.021888  -74.228188  0.593312   0.186812
3  42.2203  -83.3583  42.360426  -83.552316  0.140126   0.194016
4  30.4066  -91.1468  29.737426  -90.853194  0.669174   0.293606

더 할게 있을까.... 다 한게 맞는건가?
이걸로 뭘 할 수 있을까......
답을 줘요 승욱님.........ㅠ